<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="fly-header layui-bg-black" style="z-index: 999999;">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <!--                <img src="/fly-layui/images/imustBBS_logo.png" style="width: 120px; height: 40px;" alt="layui">-->
            <span class="iconfont" style="color: lightseagreen; font-size: 32px">imustBBS</span>
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <!--<li class="layui-nav-item layui-this">
                <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
            </li>
            <li class="layui-nav-item">
                <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
            </li>
            <li class="layui-nav-item">
                <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
            </li>-->
        </ul>

        <ul th:if="${session.currentUser == null}" class="layui-nav fly-nav-user">

            <!-- 未登入的状态-->
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang layui-hide-xs" href="/login"></a>
            </li>
            <li class="layui-nav-item">
                <a href=/login>登录</a>
            </li>
            <li class="layui-nav-item">
                <a href="/register">注册</a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="/qqLogin" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入"
                   class="iconfont icon-qq"></a>
            </li>

        </ul>

        <ul th:if="${session.currentUser != null}" class="layui-nav fly-nav-user">
            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" th:utext="${session.currentUser.username}">贤心</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs"
                       title="管理员"
                       th:if="${session.currentUser?.roleName == '管理员' || session.currentUser?.roleName == '超级管理员'}"
                    ></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs"
                       th:text="LV+${session.currentUser.lvGrade}">VIP3</i>
                    <img th:src="${session.currentUser.avatar}">
                </a>
                <dl class="layui-nav-child">
                    <!-- 发帖 -->
                    <dd><a href="/user/publishTopic" style="text-align: center;">发帖</a></dd>
                    <hr style="margin: 5px 0;">

                    <!-- 个人信息 /1/1 -->
                    <dd><a href="/user/manager/1/1" style="text-align: center;">个人信息</a></dd>

                    <!-- 我的主页 -->
                    <dd><a th:href="@{/user/detail/{userId}(userId=${session.currentUser?.userId})}"
                           style="text-align: center;">我的主页</a></dd>
                    <!-- 我的帖子 /2/1-->
                    <dd><a href="/user/manager/2/1" style="text-align: center;">我的帖子</a></dd>


                    <!-- 用户管理 /5/1 -->
                    <hr style="margin: 5px 0;">
                    <dd th:if="${session.currentUser?.roleName == '管理员' || session.currentUser?.roleName == '超级管理员'}">
                        <a href="/user/manager/5/1" style="text-align: center;">用户管理</a>
                    </dd>

                    <!-- 分类管理 /6/1 -->
                    <dd th:if="${session.currentUser?.roleName == '超级管理员'}">
                        <a href="/user/manager/6/1" style="text-align: center;">分类管理</a>
                    </dd>

                    <hr style="margin: 5px 0;">
                    <dd><a href="/user/logout" style="text-align: center;">
                        退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>


</div>