<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <!--                <img src="/fly-layui/images/imustBBS_logo.png" style="width: 120px; height: 40px;" alt="layui">-->
            <span class="iconfont" style="color: lightseagreen; font-size: 32px">imustBBS</span>
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
            </li>
            <li class="layui-nav-item">
                <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
            </li>
            <li class="layui-nav-item">
                <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
            </li>
        </ul>

        <ul th:if="${session.currentUser == null}" class="layui-nav fly-nav-user">

            <!-- 未登入的状态-->
            <li class="layui-nav-item">
                <a href="javascript:login()">登录</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:register()">注册</a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="/qqLogin" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入"
                   class="iconfont icon-qq"></a>
            </li>

        </ul>

        <ul th:if="${session.currentUser != null}" class="layui-nav fly-nav-user">
            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" th:utext="${session.currentUser.nickname}">贤心</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs"
                       th:text="LV+${session.currentUser.vipGrade}">VIP3</i>
                    <img th:src="${session.currentUser.headPortrait}">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/publishTopic" style="text-align: center;">发帖</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="/user/logout" style="text-align: center;">
                        退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>


</div>