<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="index-left" class="layui-col-md8">

    <div class="fly-panel" style="margin-bottom: 0;">

        <div class="fly-panel-title fly-filter">
            <a href="" class="layui-this">综合</a>
            <span class="fly-mid"></span>
<!--            <a href="">精华</a>-->
            <span class="fly-filter-right layui-hide-xs">
            <a href="" class="layui-this">按最新</a>
            <!--<span class="fly-mid"></span>
            <a href="">按热议</a>-->
          </span>
        </div>

        <ul class="fly-list">
            <li th:each="topic : ${pageInfo?.list}">
                <a th:href="@{/user/detail/{userId}(userId=${topic.user.userId})}" class="fly-avatar">
                    <img th:src="${topic.user.avatar}">
                </a>
                <h2>
                    <a class="layui-badge" th:text="${topic.category.name}">分享</a>
                    <a th:href="@{'/detail/'+${topic.id}}" th:text="${topic.title}">基于 layui 的极简社区页面模版</a>
                </h2>
                <div class="fly-list-info">
                    <a th:href="@{/user/detail/{userId}(userId=${topic.user.userId})}" link>
                        <cite th:text="${topic.user.username}">贤心</cite>
                        <!--
                        <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                        -->
                        <i class="layui-badge fly-badge-vip" th:text="${'LV'+topic.user.lvGrade}">VIP3</i>
                    </a>
                    <span th:text="${#dates.format(topic.lastReplyTime,'yyyy-MM-dd HH:mm:ss')}">刚刚</span>

                    <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
                    <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> 66
              </span>
                </div>
                <div class="fly-list-badge">
                    <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                </div>
            </li>
        </ul>

        <div style="border-top: 1px dotted #e2e2e2; text-align: center;" th:if="${pageInfo?.list != null}">
            <div class="laypage-main">
                <a th:if="${pageInfo.pageNum - 2 > 1}"
                   th:href="@{'/category/'+${activeCategory}+'/1'}" class="laypage-first" title="首页">首页</a>

                <a th:if="${pageInfo.hasPreviousPage}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${pageInfo.prePage}}"
                   class="laypage-prev">上一页</a>

                <a th:if="${pageInfo.pages <= 5}"
                   th:each="num : ${#numbers.sequence(1,pageInfo.pages)}"
                   th:text="${num}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${num}}"
                   th:class="${num == pageInfo.pageNum ? 'laypage-curr' : ''}">1</a>
                <a th:if="${pageInfo.pages > 5 && pageInfo.pageNum-2 <= 1}"
                   th:each="num : ${#numbers.sequence(1,5)}"
                   th:text="${num}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${num}}"
                   th:class="${num == pageInfo.pageNum ? 'laypage-curr' : ''}">1</a>
                <a th:if="${pageInfo.pages > 5 && pageInfo.pageNum-2 > 1 && pageInfo.pageNum+2 < pageInfo.pages}"
                   th:each="num : ${#numbers.sequence(pageInfo.pageNum-2,pageInfo.pageNum+2)}"
                   th:text="${num}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${num}}"
                   th:class="${num == pageInfo.pageNum ? 'laypage-curr' : ''}">1</a>
                <a th:if="${pageInfo.pages > 5 && pageInfo.pageNum-2 > 1 && pageInfo.pageNum+2 >= pageInfo.pages}"
                   th:each="num : ${#numbers.sequence(pageInfo.pages-4,pageInfo.pages)}"
                   th:text="${num}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${num}}"
                   th:class="${num == pageInfo.pageNum ? 'laypage-curr' : ''}">1</a>


                <a th:if="${pageInfo.hasNextPage}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${pageInfo.nextPage}}"
                   class="laypage-next">下一页</a>

                <a th:unless="${pageInfo.pageNum + 3 > pageInfo.pages}"
                   th:href="@{'/category/'+${activeCategory}+'/'+${pageInfo.pages}}"
                   class="laypage-last" title="尾页">尾页</a>
            </div>
        </div>

    </div>
</div>