<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="index-right" class="layui-col-md4">
    <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">置顶</dt>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
    </dl>

    <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">精华</dt>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
    </dl>

</div>