<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="index-right" class="layui-col-md4">
    <dl class="fly-panel fly-list-one" id="topTopics">
        <dt class="fly-panel-title">置顶</dt>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
    </dl>

    <dl class="fly-panel fly-list-one" id="boutiqueTopics">
        <dt class="fly-panel-title">精华</dt>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
            <a href="">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
    </dl>

    <script>
        window.onload = function () {
            $.ajax({
                url: '/index_right',
                method: 'GET',
                success: function (resultMap) {
                    if (resultMap.status) {
                        console.log(resultMap);
                        let index_right_map = resultMap.data;
                        let topTopics = "<dt class=\"fly-panel-title\">置顶</dt>";
                        for (let i = 0; i < index_right_map.topTopics.length; i++) {
                            let topTopic = index_right_map.topTopics[i];
                            topTopics += "<dd>\n" +
                                "            <a href=\"/detail/" + topTopic.id + "\">" + topTopic.title + "</a>\n" +
                                "            <span><i class=\"iconfont icon-pinglun1\"></i> " + topTopic.replyCount + "</span>\n" +
                                "        </dd>"
                        }
                        $("#topTopics").html(topTopics);


                        let boutiqueTopics = "<dt class=\"fly-panel-title\">精品</dt>";
                        for (let i = 0; i < index_right_map.boutiqueTopics.length; i++) {
                            let boutiqueTopic = index_right_map.boutiqueTopics[i];
                            boutiqueTopics += "<dd>\n" +
                                "            <a href=\"/detail/" + boutiqueTopic.id + "\">" + boutiqueTopic.title + "</a>\n" +
                                "            <span><i class=\"iconfont icon-pinglun1\"></i> " + boutiqueTopic.replyCount + "</span>\n" +
                                "        </dd>"
                        }
                        $("#boutiqueTopics").html(boutiqueTopics)
                    }
                }
            });
        }
        // $();
    </script>

</div>
</html>