<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navication" class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li th:class="${activeCategory == 0 ? 'layui-hide-xs layui-this':'layui-hide-xs'}">
                <a href="/">首页</a></li>
            <li th:each="category : ${categories}"
                th:class="${activeCategory == category.id ? 'layui-hide-xs layui-this':'layui-hide-xs'}">
                <a href="javascript(0)" th:onclick="topicsByCategoryId([[${category.id}]])"
                   th:text="${category.name}"></a>
            </li>
            <li class="layui-form-item">
                <!--                <a href="javascript:;">更多分类</a>-->
                <select name="categoryId" id="selectCategoryId"
                        th:style="${activeCategory > 5 ? 'color: blue':''}" onchange="selectCategoryId()">
<!--                    <option>更多分类</option>-->
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${category.id == activeCategory ? 'true':'false'}"></option>
                </select>
            </li>
            <script>
                function selectCategoryId() {
                    let selectCategoryId = $("#selectCategoryId");
                    let categoryId = selectCategoryId.val();
                    topicsByCategoryId(categoryId);
                    selectCategoryId.css("color", "blue");
                }

                function topicsByCategoryId(categoryId) {
                    window.location.href = "/category/" + categoryId + "/1";
                }
            </script>

            <!--            <li><a href="jie/index.html">分享<span class="layui-badge-dot"></span></a></li>-->

            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

        </ul>

        <div class="fly-column-right layui-hide-xs">
            <div class="layui-inline">
                <input class="layui-input" name="id" id="" placeholder="帖子标题" autocomplete="off">
            </div>
            <span class="fly-search"><i class="layui-icon"></i></span>
        </div>
    </div>
</div>
</html>