<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navication" class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li th:class="${activeCategory == 0 ? 'layui-hide-xs layui-this':'layui-hide-xs'}">
                <a href="/">首页</a></li>
            <li th:each="category : ${categories}"
                th:class="${activeCategory == category.id ? 'layui-hide-xs layui-this':'layui-hide-xs'}">
                <a href="#" th:onclick="topicsByCategoryId([[${category.id}]])"
                   th:text="${category.name}"></a>
            </li>
            <li class="layui-form-item" th:if="${moreCagegorys != null}">
                <!--                <a href="javascript:;">更多分类</a>-->
                <select name="categoryId" id="selectCategoryId"
                        class="border_0" onchange="selectCategoryId()">
                    <option selected disabled hidden>更多分类</option>
                    <option th:each="category : ${moreCagegorys}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${category.id == activeCategory ? 'true':'false'}"
                            class="border_0"></option>
                </select>
            </li>
            <script>
                function selectCategoryId() {
                    let selectCategoryId = $("#selectCategoryId");
                    let categoryId = selectCategoryId.val();
                    topicsByCategoryId(categoryId);
                }

                function topicsByCategoryId(categoryId) {
                    window.location.href = "/category/" + categoryId + "/1";
                    if(categoryId > 5){
                        selectCategoryId.css("color", "blue");
                    }
                }
            </script>

            <!--            <li><a href="jie/index.html">分享<span class="layui-badge-dot"></span></a></li>-->

            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

        </ul>

        <div class="fly-column-right layui-hide-xs">
            <form action="/search" method="post" id="serachTopic">
                <div class="layui-inline">
                    <input class="layui-input" name="title" placeholder="帖子标题" autocomplete="off">
                </div>
                <button type="submit" class="fly-search searchBtn"><i class="layui-icon" lay-submit></i></button>
            </form>
        </div>

    </div>
</div>
</html>