<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>imustBBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/imustBBS.css">
</head>
<body>
<div>
    <span th:text="${(category == null || category.id == null) ? '分类新增':'分类修改'}"></span>
    <form action="/admin/category" method="post">
        <input name="id" type="hidden" th:value="${category != null ? category.id:null}">
        <input name="name" placeholder="请输入分类名称" th:value="${category != null ?category.name:null}">
        <button type="submit">提交</button>
    </form>
    <div th:if="${resultDTO!=null}" th:text="${resultDTO.message}"></div>
</div>
</body>
</html>