<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>imustBBS</title>

    <link rel="stylesheet" href="/fly-layui/layui/css/layui.css">
    <link rel="stylesheet" href="/fly-layui/css/global.css">
    <link rel="stylesheet" href="/css/imustBBS.css">

</head>
<body>
<div th:replace="/common/header :: header"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul th:replace="/common/manager-left :: user-nav"></ul>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>

    <div class="fly-panel fly-panel-user" pad20>
        
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="mine-jie" lay-id="index" class="layui-this">
                    所有分类（<span th:text="${pageInfo.total}">89</span>）
                </li>
                <li data-type="collection"
                    th:if="${session.currentUser?.roleName == '超级管理员'}"
                    data-url="/collection/find/" lay-id="collection">
                    新增分类
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0 0 0;">
                <div class="layui-tab-item layui-show">
                    <!-- 分类列表 -->
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col >
                            <col width="200">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>分类名称</th>
                            <th>创建时间</th>
                            <th>最后修改时间</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${pageInfo.list}">
                            <input type="hidden" th:value="${category.id}">
                            <td th:text="${category.name}">贤心</td>
                            <td th:text="${#dates.format(category.createTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td th:text="${#dates.format(category.createTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td th:text="${category.description}">溜溜哒</td>
                            <td>
                                <a th:href="@{/super/editCategory/{id}(id=${category.id})}"
                                   class="layui-btn layui-btn-xs">修改分类</a>

                                <button class="layui-btn layui-btn-xs layui-btn-danger"
                                        th:onclick="delCategory([[${category.id}]])">删除分类</button>
                                <script>
                                </script>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 分页 -->
                    <div th:replace="/common/pagination :: pagination_manager(${pageInfo})"></div>

                    <div id="LAY_page"></div>
                </div>

                <div class="layui-tab-item" th:if="${session.currentUser?.roleName == '超级管理员'}">
                    <!-- 新增分类 -->
                    <div class="layui-form layui-form-pane" id="LAY_page1">
                        <form action="" id="addCategoryForm">
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md4">
                                    <label class="layui-form-label">分类名称</label>
                                    <div for="L_name" class="layui-input-block">
                                        <input type="text" id="L_name" name="name" required lay-verify="required"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-col-md8">
                                    <label for="L_description" class="layui-form-label">描述</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_description" name="description"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <button class="layui-btn" onclick="addCategory()">立即发布</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<script src="/js/jquery-1.10.2.js"></script>
<script src="/fly-layui/layui/layui.all.js"></script>
<script src="/js/imustBBS.js"></script>
</body>
</html>