<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>

    <link rel="stylesheet" href="/fly-layui/layui/css/layui.css">
    <link rel="stylesheet" href="/fly-layui/css/global.css">
</head>
<body>

<div th:replace="/common/header :: header"></div>


<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="/login">登入</a></li>
                <li class="layui-this">找回密码</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post" class="layui-form" action="/user/findPassword">

                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email" required lay-verify="email"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">请输入注册时填写的邮箱</div>
                            </div>

                            <div class="layui-form-item">
                                <label for="yzm" class="layui-form-label">验&nbsp;证&nbsp;码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="yzm" name="yzm" required placeholder="请输入验证码"
                                    autocomplete="off" class="layui-input">
                                </div>
                                <button id="yzmbtn" lay-submit lay-filter="sendEmail" class="layui-btn layui-btn-normal">获取验证码</button>
                            </div>


                            <div class="layui-form-item">
                                <button class="layui-btn" lay-submit lay-filter="submitForm">提交</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.cookie.js"></script>
<!--<script src="/layui/layui.js"></script>-->
<script src="/layui/layui.all.js"></script>
<script>

    layui.use('form', function () {
        let form = layui.form;
        // 监听验证码发送
        form.on("submit(sendEmail)", function (data) {
            let email = data.field.email;
            $("#yzmbtn").attr({"disabled": "disabled"});
            layer.msg("请稍等");
            $.ajax({
                url: "/user/sendEmail",
                type: "post",
                data: {"email": email},
                dataType: 'json',
                success: function (result) {
                    if (result.status) {
                        layer.msg("验证码已发送到您的邮箱，请注意查收，加入长时间没收到邮件，请联系管理员", {
                            icon: 1,
                            time: 5000
                        }, function () {
                            $("#yzm").focus();
                        });
                    } else {
                        layer.msg(result.message, {
                            icon: 5,
                            time: 5000
                        }, function () {
                            $("#yzmbtn").removeAttr("disabled");
                        });
                    }
                },
                error: function (result) {
                    layer.msg(result.message, {
                        icon: 5,
                        time: 5000
                    }, function () {
                        $("#yzmbtn").removeAttr("disabled");
                    });
                }
            });
            return false;
        });


        // 提交监听
        form.on("submit(submitForm)", function (data) {
            let yzm = $("#yzm").val();
            if (yzm.trim() == '') {
                layer.msg("请输入验证码");
                $("#yzm").focus();
                return false;
            }
            $.ajax({
                url: "/user/checkYzm",
                type: "post",
                data: {"yzm": yzm},
                dataType: 'json',
                success: function (result) {
                    if (result.status) {
                        layer.msg("已通过验证，密码已重置为123456，请登录后立即修改密码", {
                            icon: 1,
                            time: 5000
                        }, function () {
                            parent.window.location.reload();
                        });
                    } else {
                        layer.msg(result.message, {
                            icon: 5,
                            time: 5000
                        });
                    }
                },
                error: function (result) {
                    layer.msg(result.message, {
                        icon: 5,
                        time: 5000
                    });
                }
            });
            return false;
        });

    });
</script>

</body>
</html>