<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>imustBBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/imustBBS.css">
</head>
<body>
<div>
    <span th:text="${(topic == null || topic.id == null) ? '帖子新增':'帖子修改'}"></span>
    <form action="/admin/category" method="post">
        <input name="id" type="hidden" th:value="${topic != null ? topic.id:null}">
        <input name="title" placeholder="请输入帖子标题" th:value="${topic != null ?topic.title:null}">
        <textarea name="content" placeholder="请输入帖子内容" th:text="${topic != null ?topic.content:null}"></textarea>
        <input name="categoryId" placeholder="分类Id" th:value="${topic != null ?topic.categoryId:null}">
        <button type="submit">提交</button>
    </form>
    <div th:if="${resultDTO!=null}" th:text="${resultDTO.message}"></div>
</div>
</div>
</body>
</html>