<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>imustBBS</title>

    <link rel="stylesheet" href="/fly-layui/layui/css/layui.css">
    <link rel="stylesheet" href="/fly-layui/css/global.css">
</head>
<body>
<div th:replace="/common/header :: header"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul th:replace="/common/manager-left :: user-nav"></ul>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>

    <div class="fly-panel fly-panel-user" pad20>
        <!--
        <div class="fly-msg" style="margin-top: 15px;">
          您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
        </div>
        -->
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="mine-jie" lay-id="index" class="layui-this">
                    所有用户（<span th:text="${pageInfo.total}">89</span>）
                </li>
                <li data-type="collection"
                    th:if="${session.currentUser?.roleName == '超级管理员'}"
                    data-url="/collection/find/" lay-id="collection">
                    管理员（<span th:text="${pageInfo_admin.total}">16</span>）
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0 0 0;">
                <div class="layui-tab-item layui-show">

                    <div class="demoTable">
                        搜索用户名：
                        <div class="layui-inline">
                            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                    </div>
                    <!-- 所有用户 -->
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>昵称</th>
                            <th>加入时间</th>
                            <th>最近修改时间</th>
                            <th>最后登录时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${pageInfo.list}">
                            <input type="hidden" th:value="${user.userId}">
                            <td th:text="${user.username}">贤心</td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td th:text="${#dates.format(user.latelyLoginTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td>
                                <button th:class="${user.isOff ? 'layui-btn layui-btn-xs layui-btn-disabled':'layui-btn layui-btn-xs layui-btn-danger'}"
                                        th:onclick="disableUser([[${user}]])">封禁</button>

                                <button th:class="${user.isOff ? 'layui-btn layui-btn-xs':'layui-btn layui-btn-xs layui-btn-disabled'}"
                                        th:onclick="unDisableUser([[${user}]])">解封</button>

                                <button th:if="${session.currentUser?.roleName == '超级管理员'}"
                                        th:class="${user.roleName!='管理员' ? 'layui-btn layui-btn-xs':'layui-btn layui-btn-xs layui-btn-disabled'}"
                                        th:onclick="authorizeAdmin([[${user.userId}]],[[${user.username}]])">授权为管理员</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 分页 -->
                    <div th:replace="/common/pagination :: pagination_manager(${pageInfo})"></div>

                    <div id="LAY_page"></div>
                </div>

                <div class="layui-tab-item" th:if="${session.currentUser?.roleName == '超级管理员'}">
                    <!-- 管理员用户列表 -->
                    <table class="layui-table" id="LAY_page1">
                        <colgroup>
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>昵称</th>
                            <th>加入时间</th>
                            <th>最近修改时间</th>
                            <th>最后登录时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${pageInfo_admin.list}">
                            <input type="hidden" th:value="${user.userId}">
                            <td th:text="${user.username}">贤心</td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td th:text="${#dates.format(user.latelyLoginTime,'yyyy-MM-dd')}">2016-11-29</td>
                            <td>
                                <button th:class="${user.isOff ? 'layui-btn layui-btn-xs layui-btn-disabled':'layui-btn layui-btn-xs layui-btn-danger'}"
                                   th:onclick="disableUser([[${user}]])">封禁</button>

                                <button th:class="${user.isOff ? 'layui-btn layui-btn-xs':'layui-btn layui-btn-xs layui-btn-disabled'}"
                                   th:onclick="unDisableUser([[${user}]])">解封</button>

                                <button th:class="${user.roleName=='管理员' ? 'layui-btn layui-btn-xs layui-btn-danger':'layui-btn layui-btn-xs layui-btn-disabled'}"
                                        th:onclick="deauthorizeAdmin([[${user.userId}]],[[${user.username}]])">取消授权</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 分页 -->
                    <div th:replace="/common/pagination :: pagination_manager(${pageInfo_admin})"></div>
                    <div ></div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="/js/jquery-1.10.2.js"></script>
<script src="/fly-layui/layui/layui.all.js"></script>
<script src="/js/imustBBS.js"></script>
</body>
</html>