body{
    background-image: url("../images/bg.jpg");
}
.container-fluid.main{
    margin: 30px ;
    background: rgba(255,255,255,1);
}
.avatar-size{
    width: 38px;
    height: 38px;
}
.post-about{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.btn.btn-success.btn-publish{
    float: right;
    margin-bottom: 10px;
}

.pagination{
    float: right;
    margin-right: 10px !important;
}

.left-container{
    border-right: 1px solid #e6e6e6;
}
/* error */
.background-null{
    background: rgba(255,255,255,0) !important;
}
/* ownPosts.html */
.own{
    margin-top: 20px;
}
.color-999{
    color: #999;
}
.fontSize-13{
    font-size: 13px;
}
.marginLeft-10{
    margin-left: 10px;
}
.padding-0{
    padding: 0px;
}
.paddingBottom-5{
    padding-bottom: 5px;
}
.paddingBottom-10{
    padding-bottom: 10px;
}
.borderBottom{
    border-bottom: 1px solid #e6e6e6;
}