html body {
    margin: 0;
    padding: 0;
    background-image: url("/images/bj.png");
}

a {
    list-style-type: none;
}

.background-white {
    background: #ffffff;
}

.height-Auto {
    height: auto;
}

.height-60 {
    height: 80px;
}

.logo_img {
    width: 120px;
    height: 60px;
}

.avatar_img {
    width: 50px;
    height: 50px;
}

.width-100 {
    width: 100% !important;
}

.padding-0 {
    padding: 0px !important;
}

.padding-10 {
    padding: 10px;
}

.padding_0_15 {
    padding: 0px 15px !important;
}

.paddingTop-5 {
    padding: auto;
}

.paddingTop-10 {
    padding-top: 10px;
}

.paddingTop-100 {
    padding-top: 100px;
}

.paddingRight-0 {
    padding-right: 0px !important;
}

.paddingRight-20 {
    padding-right: 20px;
}

.paddingBottom-15 {
    padding-bottom: 15px;
}

.paddingLeft-10 {
    padding-left: 10px;
}

.paddingLeft-20 {
    padding-left: 20px;
}

.margin-10{
    margin: 15px;
}
.marginRight-5 {
    margin-right: 5px;
}

.marginBottom-20 {
    margin-bottom: 20px;
}

.displayNone {
    display: none;
}