<html xmlns:th="http://www.thymeleaf.org">
<el-header th:fragment="el-header">
    <!--header-->
    <el-row :gutter="20" class="borderRadius marginTop-10" type="flex" justify="space-between">
        <el-col :span="3">
            <a href="/index.html">
                <el-image style="width: 100px;" :src="url"></el-image>
            </a>
        </el-col>
        <el-col :span="10">
            <el-input v-model="search" placeholder="请输入搜索内容" clearable suffix-icon="el-icon-search"
                      @keyup.enter.native="onEnterSearch">
            </el-input>
        </el-col>
        <el-col :span="4">
            <div>
                <span style="float: right;">Dong</span>
                <el-avatar shape="square" :size="50" :src="avatar" style="float: right;"></el-avatar>
            </div>
        </el-col>
    </el-row>
</el-header>
</html>