<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>imustBBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!--    <link rel="shortcut icon" href="/images/xh_imusBBS.jpg" type="image/x-icon">-->
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<a href="javascript:login()">登录</a>
<a href="javascript:register()">注册</a>

<script src="/js/jquery-1.10.2.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/imustBBS.js"></script>
</body>
</html>