<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>imustBBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:replace="/fragments/link_script :: links">
</head>
<body>

<div class="container-fluid padding-0">
    <nav th:replace="/fragments/nav :: nav"></nav>

    <div th:replace="/fragments/category :: category"></div>

    <div class="container-fluid">
        <div th:replace="/fragments/body :: topics"></div>
        <div th:replace="/fragments/body :: recommends"></div>
    </div>

</div>

<script th:replace="/fragments/link_script :: scripts"></script>
<script src="/js/imustBBS_index.js"></script>
</body>
</html>