<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.getTitle()} + ' - imustBBS'">imustBBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/imustBBS.css">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

</head>
<body>

<div th:replace="navigation :: nav"></div>


<div class="main container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 left-container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBottom-10 borderBottom marginBottom-10">
                <h4><span th:text="${post.getTitle()}"></span></h4>
                <span class="post-about">

                作者：<span th:text="${post.getUser().getName()}"></span> |
                最后修改时间：<span th:text="${#dates.format(post.getUpdateTime(),'yyyy-MM-dd HH:mm')}"></span> |
                阅读数：<span th:text="${post.getViewCount()}"></span>
            </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBottom-10 borderBottom" th:text="${post.getDescription()}"></div>
                <a th:href="@{/own/editPost/{id}(id=${post.getId()})}" class="color-999 fontSize-13 marginLeft-10"
                   th:if="${session.user != null && session.user.id == post.getUser().getId()}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                </a>
            </div>

            <div id="comment_section" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginTop-10">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded avatar-size" th:src="${post.getUser().getAvatarUrl()}"
                                 src="https://avatars3.githubusercontent.com/u/42092762?v=4" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading paddingTop-10">
                            <span th:text="${post.getUser().getName()}"></span>
                        </h5>
                    </div>
                </div>
                <input id="post_id" type="hidden" value="666">
<!--                <input id="post_id" type="hidden" th:value="${post.getId()}">-->
                <textarea id="comment_content" class="form-control marginTop-10 marginBottom-10" rows="6"></textarea>
                <button type="button" class="btn btn-success marginBottom-10 float-right" onclick="comment()">回复</button>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media borderBottom paddingBottom-10">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded avatar-size" th:src="${post.getUser().getAvatarUrl()}"
                                 src="https://avatars3.githubusercontent.com/u/42092762?v=4" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading paddingTop-10">
                            <span th:text="${post.getUser().getName()}"></span>
                        </h5>
                        <p>我是个不爱说话的程序员我是个不爱说话的程序员我是个不爱说话的程序员我是个不爱说话的程序员我是个不爱说话的程序员我是个不爱说话的程序员</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关问题</h3>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/imustBBS.js"></script>
</body>
</html>