<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - imustBBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/imustBBS.css">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
</head>
<body>

<div th:replace="navigation :: nav"></div>

<div class="main container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr class="divider">
            <div th:if="!${#strings.isEmpty(error)}" class="alert alert-danger" th:text="${error}"></div>

            <form action="/own/publish" method="post">
                <input type="hidden" name="id" th:value="${(post!= null && post.getId() != null) ? post.getId(): null}">
                <div class="form-group">
                    <label for="title">标题 : </label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题"
                           th:value="${(post!= null && !#strings.isEmpty(post.getTitle())) ? post.getTitle() : ''}">
                </div>
                <div class="form-group">
                    <label for="description">描述 : </label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"
                              th:text="${(post!= null && !#strings.isEmpty(post.getDescription())) ? post.getDescription() : ''}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签 : </label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以“，”(逗号)分隔" autocomplete="off"
                           th:value="${(post != null && !#strings.isEmpty(post.getTag())) ? post.getTag() : ''}">
                </div>

                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>发帖指南</h3><br>
            <p>• 标题: 请用精简的语言描述您要发帖的主题，不超过25字 </p>
            <p>• 描述: 详细补充您的帖子内容，并确保帖子描述清晰直观, 并提供一些相关的资料</p>
            <p>• 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</p>
        </div>
    </div>
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>